body {
  background: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}
header{
margin-top: 20vh;
}

.battleDisplay {
  display: flex;
}
.queryDisplay{
font-size: 16px;
font-weight: 400;
margin: 20px;
}
.playerDisplays{
  width: 300px;
  height: 300px;
  margin: 10px;
  display: inherit;
  align-items: center;
  justify-content:center;
  flex-direction: column;

}


.moveButtons{
margin: 10px;
width: 80px;
height: 40px;
border-radius: 5px;
border: none

}

.moveButtons:hover{
transform: scale(1.1);
}

.photo{
margin-top: 50px;
}

.pokeButtons {
width: 100px;
height: 40px;

}

.playerDisplays{
display: none;
}